@{
    ViewData["Title"] = "";

}

<div id="react-app"></div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
    <script src='https://www.google.com/recaptcha/api.js?render=explicit&onload=onReCaptchaLoad'></script>
    <script>
        var onReCaptchaLoad = function () {
            if (document.getElementById("myCaptcha") == null) return;
            var captchaWidgetId = grecaptcha.render('myCaptcha', {
                'sitekey': '6LfUQ2gUAAAAAJ_aYbFYClWkl001zjBiYhf6_wNs',  // required
                'theme': 'light',  // optional
                'callback': 'verifyCallback'  // optional
            });
        };

        var verifyCallback = function (response) {
                document.getElementById("myCaptchaResponse").setAttribute("value", response);
            
            
        };
    </script>
}
